<div class="flip">
    <h1>Question ID: <%= @Q_num %></h1>
    <h2>Question Answer: <%= answers %></h2>
<%= hidden_field_tag "Something" ,@answer, {:id => 'foo'} %>
<div class="panel">
    <div id="txt"></div>
    <p>Answer following Question:</p>
    <p>Answer：<input type="text" id="test" value=""></p>
    <p><span id="answer"> <%= button_to_function "Submit", "timedMsg($('#test').val(), $('#foo').val() )"  %> </span></p>
</div>
<iframe src=<%= @battle.ques_text%> height="600px" width="720px">
</div>
